

.navbar {
    background-color: #fff; /* Change background color of the navbar to white */
    color: #333; /* Change font color to black */
    width: 100%; /* Adjust width to 100% */
}

.navbar-nav {
    width: 80%; /* Adjust width of the navbar-nav */
    margin: 0 auto; /* Center the navbar-nav horizontally */
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-link {
    color: #333; /* Change font color of nav links to black */
    text-decoration: none;
}

.itemss{
    padding-left:500px;
    color:#333
}

.liz{
    padding-left: 50px;
}

.navbar{
    border-bottom: 1px solid rgb(161, 161, 161);
    font-family: Dosis;
    letter-spacing: .1rem;
}
